/* 背景样式 */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('../assets/icons/background01.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

/* 容器样式 */
.container {
    max-width: 800px;
    margin: 100px auto;
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color: rgb(76, 141, 174);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* 标题和匹配神兽样式 */
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.highlight {
    font-size: 3em;
    font-weight: bold;
    margin: 20px 0;
    color: rgb(255, 242, 223)/* 金黄色，突出显示 */
}

/* 动态文案样式 */
.hidden {
    display: none;
}

#description {
    margin: 20px 0;
    font-size: 1.2em;
    text-align: left;
    animation: fadeIn 1s ease-in-out;
}

button {
    padding: 12px 20px;
    background-color:rgb(6, 82, 121); /* 番茄红 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(161, 175, 201);
}

/* 视频全屏样式 */
video.hidden {
    display: none;
}
video {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
}


/* 动画效果 */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
